.driver-seat {
  background-image: url(../images/icon-steering-wheel.svg);
  background-repeat: no-repeat;
  background-position: 50%;
 ;
  pointer-events: none
}
.seat-view {
  display: block;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-50%);
  max-height: 485px;
  
}
.seats {
  padding: 3px;
  background-image: url(../images/icon-seat-available.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: small;
  
}
.seats.seat-unavailable {
  background-image: url(../images/icon-seat-unavailable.svg);
  pointer-events: none
}
.seats:hover {
  background-image: url(../images/icon-seat-hover.svg);
}
.bottom ul li {
  margin-top: 14px;
  font-family: Montserrat-Regular;
  font-size: 12px;
  list-style: none;
}
.bottom ul li span {
  padding: 8px;
  font-size: 0;
  border: 1px solid;
  vertical-align: super;
  margin-right: 10px
}
.bottom ul li span.unavailable-box {
  background: #d8d8d8;
  border: 1px solid #000;
  border-radius: 5px
}
.bottom ul li span.available-box {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px
}
.seat-selected {
  background-image: url(../images/icon-seat-unavailable.svg);
  pointer-events: none;
}

#pay-now-button{
  background-color: #fff;
    border-color: #00b8f8;
    color: #00b8f8;
    border-radius: 6px;
    padding: .5em;
    transition: all .6s;
    cursor: pointer;
    border: 1px solid;
    font-weight: 600;
}
#pay-now-button:hover{
  color: white;
  background-color: #00b8f8;
}

.bottom p{
  font-family: Montserrat-Regular;
  font-size: medium;
  font-weight: bold;
  display: inline-block;  
}